<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title>Order</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">order</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- TODO: create order list -->
    <ion-list *ngIf="order_lists?.length < 1">
        <ion-item *ngFor="let order of order_lists ">
            <ion-label>
                <h2>Pesanan {{order.client_name}}</h2>
                <p>
                    Tanggal Ambil: {{order.due_date| date:'dd-MMM-yyyy'}}
                </p>
                <p>
                    Pembayaran diterima: Rp {{order.item.down_payment|rupiah}} dari Rp{{order.item.total_price|rupiah}}
                    <span class="font-bold">
                        ({{order.item.down_payment/order.item.total_price*100 | number: '1.0-0'}}%)
                    </span>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
    <div
        class="flex flex-col justify-center items-center h-screen"
        *ngIf="order_lists?.length < 1"
    >
        <strong class="mx-auto">Order masih kosong</strong>

    </div>
    <ion-fab
        slot="fixed"
        vertical="bottom"
        horizontal="end"
    >
        <ion-fab-button (click)="isModalOpen=true">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-toast
        [isOpen]="toast.isOpen"
        message="{{toast.message}}"
        position="top"
        [duration]="5000"
        (didDismiss)="toast.isOpen = false"
    ></ion-toast>
    <!-- create custom item modal -->
    <ion-modal [isOpen]="isCustomItemModalOpen">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Custom Item</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="isCustomItemModalOpen=false">
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <div class="flex flex-col mx-4 gap-y-4 mt-8">
                    <ion-input
                        type="text"
                        label="Nama Item"
                        label-placement="floating"
                        fill="outline"
                        placeholder="Nama Item"
                        [(ngModel)]="custom_item.item_name"
                    ></ion-input>
                    <ion-input
                        type="text"
                        label="Nama Item"
                        label-placement="floating"
                        fill="outline"
                        placeholder="Harga"
                        [(ngModel)]="custom_item.price"
                        separator
                    ></ion-input>
                </div>

                <div class="options flex w-full place-content-center mx-auto flex-row gap-10">
                    <div>
                        <ion-button
                            shape="round"
                            size="large"
                            class="flex"
                        >
                            <ion-icon
                                slot="icon-only"
                                name="close"
                            ></ion-icon>
                        </ion-button>
                        <ion-label>Batal</ion-label>

                    </div>
                    <div>
                        <ion-button
                            shape="round"
                            size="large"
                            class="flex"
                            (click)="insertOrder(custom_item)"
                        >
                            <ion-icon
                                slot="icon-only"
                                name="checkmark"
                            ></ion-icon>
                        </ion-button>
                        <ion-label>simpan</ion-label>

                    </div>

                </div>
            </ion-content>
        </ng-template>
    </ion-modal>
    <!-- pick item modal -->
    <ion-modal [isOpen]="isItemModalOpen">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Tambah Item</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="openItemModal(false)">
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item *ngFor="let item of items;  let i = index">
                        <ion-label (click)="items[i].qty = items[i].qty + 1">
                            <b class="capitalize">{{item.item_name}}</b>
                            (Rp{{item.price | rupiah}})
                        </ion-label>
                        <ion-note slot="end">
                            <div class="flex flex-row justify-end">
                                <ion-button
                                    shape="round"
                                    [disabled]="item.qty < 1"
                                    (click)="items[i].qty = items[i].qty - 1"
                                >
                                    <ion-icon name="remove-circle"></ion-icon>
                                </ion-button>
                                <ion-input
                                    [(ngModel)]="items[i].qty"
                                    class="w-8 mx-2 text-xl"
                                ></ion-input>
                                <ion-button
                                    shape="round"
                                    (click)="items[i].qty = items[i].qty + 1"
                                >
                                    <ion-icon name="add-circle"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-note>
                    </ion-item>
                </ion-list>
                <div class="options flex w-full place-content-center mx-auto flex-row gap-10">
                    <div>
                        <ion-button
                            shape="round"
                            size="large"
                            class="flex"
                        >
                            <ion-icon
                                slot="icon-only"
                                name="close"
                            ></ion-icon>
                        </ion-button>
                        <ion-label>Batal</ion-label>

                    </div>
                    <div>
                        <ion-button
                            shape="round"
                            size="large"
                            class="flex"
                            (click)="insertOrder()"
                        >
                            <ion-icon
                                slot="icon-only"
                                name="checkmark"
                            ></ion-icon>
                        </ion-button>
                        <ion-label>simpan</ion-label>

                    </div>

                </div>
            </ion-content>
        </ng-template>
    </ion-modal>
    <ion-modal [isOpen]="isModalOpen">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Buat Order</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="isModalOpen=false">
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <div class="flex flex-col mx-4 gap-y-4 mt-8">

                    <ion-input
                        type="text"
                        label="Atas Nama"
                        label-placement="floating"
                        fill="outline"
                        placeholder="Atas Nama"
                        [(ngModel)]="client_name"
                    ></ion-input>

                    <ion-input
                        type="date"
                        label="Tanggal Pengambilan"
                        label-placement="floating"
                        fill="outline"
                        placeholder="Tanggal Pengambilan"
                        [(ngModel)]="due_date"
                    ></ion-input>

                    <ion-input
                        type="text"
                        label="Uang Muka"
                        label-placement="floating"
                        fill="outline"
                        placeholder="Uang Muka"
                        pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$"
                        [(ngModel)]="order.down_payment"
                        separator
                    ></ion-input>

                </div>
                <ion-list>
                    <ion-item *ngFor="let item of order.item;  let i = index">
                        <ion-label (click)="items[i].qty = items[i].qty + 1">
                            <b class="capitalize">{{item.item_name}}</b>
                            (Rp{{item.price | rupiah}})
                        </ion-label>
                        <ion-note slot="end">
                            <div class="flex flex-row justify-end">
                                <ion-button
                                    shape="round"
                                    [disabled]="item.qty < 1"
                                    (click)="order.item[i].qty = order.item[i].qty - 1"
                                >
                                    <ion-icon name="remove-circle"></ion-icon>
                                </ion-button>
                                <ion-input
                                    [(ngModel)]="order.item[i].qty"
                                    class="w-8 mx-2 text-xl"
                                ></ion-input>
                                <ion-button
                                    shape="round"
                                    (click)="order.item[i].qty = order.item[i].qty + 1"
                                >
                                    <ion-icon name="add-circle"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-note>
                    </ion-item>
                </ion-list>
                <div class="options flex w-full place-content-center mx-auto flex-row gap-10">

                    <div>
                        <ion-button
                            shape="round"
                            class="flex self-center"
                            (click)="openItemModal(true)"
                        >
                            <ion-icon
                                slot="icon-only"
                                name="add"
                            ></ion-icon>
                        </ion-button>
                    </div>
                    <div>
                        <ion-button
                            shape="round"
                            size="large"
                            class="flex"
                            (click)="addOrder()"
                        >
                            <ion-icon
                                slot="icon-only"
                                name="save"
                            ></ion-icon>
                        </ion-button>
                        <ion-label>simpan</ion-label>

                    </div>
                    <div>
                        <ion-button
                            shape="round"
                            class="flex self-center"
                            (click)="isCustomItemModalOpen=true"
                        >
                            <ion-icon
                                slot="icon-only"
                                name="pricetag"
                            ></ion-icon>
                        </ion-button>

                    </div>

                </div>

            </ion-content>

            <ion-footer>
                <ion-toolbar>
                    <div class="flex justify-between m-4">
                        <h1 class="flex font-bold self-end">
                            Total : Rp {{order.total_price | rupiah}}
                        </h1>

                    </div>
                </ion-toolbar>
            </ion-footer>

        </ng-template>
    </ion-modal>

</ion-content>
