<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title>item</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">item</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="flex flex-wrap">
        <div
            class="w-1/2"
            *ngFor="let item of items; let i = index"
        >
            <ion-card (click)="openItemOptions(item)">
                <img
                    alt="item image"
                    [src]="item.item_image"
                    onerror="this.src='https://usahaku-lqcs.vercel.app/product.png'"
                    class="w-full"
                >
                <ion-card-header>
                    <ion-card-title class="truncate">{{ item.item_name }}</ion-card-title>
                    <ion-card-subtitle>Rp{{ item.price | rupiah }}</ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </div>
    </div>
    <div
        class="flex flex-col justify-center items-center h-screen"
        *ngIf="items?.length < 1"
    >
        <strong class="mx-auto">Item masih kosong</strong>
        <p class="text-center">
            Tambahkan Itemdengan click tombol "+" dibawah
        </p>
    </div>

    <ion-fab
        slot="fixed"
        vertical="bottom"
        horizontal="end"
    >
        <ion-fab-button (click)="isModalOpen=true">
            <ion-icon name="add-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-modal [isOpen]="isModalOpen">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>
                        {{item_id != '' ? 'Ubah' : 'Tambah'}} Item
                    </ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="postOperation('cancel')">
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <div
                    *ngIf="!croppedImage && !item_id"
                    class="flex flex-col items-center justify-center mx-auto w-40 h-40 m-8 border-4 border-dashed"
                    (click)="getImage('camera')"
                >
                    <ion-icon
                        name="camera"

                        color="primary"
                    ></ion-icon>
                    <p>Tambah Gambar</p>
                </div>

                <img
                    class="mx-auto  w-40 h-40"
                    [src]="croppedImage"
                    *ngIf="croppedImage"
                    (click)="getImage('camera')"
                >
                <img
                    class="mx-auto  w-40 h-40"
                    [src]="selectedItem.item_image"
                    *ngIf="item_id && !croppedImage"
                    (click)="getImage('camera')"
                >

                <ion-input
                    class="my-4"
                    label="Nama"
                    label-placement="floating"
                    fill="outline"
                    placeholder="Nama"
                    [(ngModel)]="newItem.item_name"
                ></ion-input>

                <ion-input
                    class="my-4"
                    label="Harga"
                    label-placement="floating"
                    fill="outline"
                    placeholder="Harga"
                    type="text"
                    [(ngModel)]="newItem.price"
                    inputmode="numeric"
                    separator
                ></ion-input>
                <ion-select
                    class="my-4"
                    label="Kategori"
                    label-placement="floating"
                    fill="outline"
                    [(ngModel)]="selectedCat"
                >
                    <ion-select-option
                        [value]="cat"
                        *ngFor="let cat of category"
                    >
                        {{cat.category_name}}
                    </ion-select-option>
                </ion-select>
                <ion-checkbox
                    labelPlacement="end"
                    [(ngModel)]="is_related_stock_item"
                >
                    Tersambung dengan Stock
                </ion-checkbox>
                <ion-select
                    *ngIf="is_related_stock_item"
                    class="my-4"
                    label="Stock Item"
                    label-placement="floating"
                    fill="outline"
                    [(ngModel)]="newItem.item_stock"
                >
                    <ion-select-option
                        [value]="stock"
                        *ngFor="let stock of item_stock"
                    >
                        {{stock.item_name}}
                    </ion-select-option>
                </ion-select>

                <ion-input
                    class="my-4"
                    label="Stock"
                    label-placement="floating"
                    fill="outline"
                    placeholder="Stock"
                    type="number"
                    [(ngModel)]="newItem.item_stock.qty"
                    inputmode="numeric"
                ></ion-input>
                <ion-textarea
                    [(ngModel)]="newItem.desc"
                    class="my-4"
                    label="deskripsi"
                    labelPlacement="floating"
                    fill="outline"
                    placeholder="Enter text"
                    rows="4"
                ></ion-textarea>
                <ion-button
                    expand="full"
                    class="my-4"
                    (click)="item_id != '' ? updateItem() : addItem()"
                    [disabled]="newItem.item_name == '' || newItem.price < 0  || selectedCat == ''"
                >
                    {{item_id != '' ? 'Simpan' : 'Tambah'}}
                </ion-button>

            </ion-content>
        </ng-template>
    </ion-modal>
    <ion-modal [isOpen]="editImage">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Sesuaikan gambar</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <div class="h-full flex items-center">
                    <div class="flex flex-col">
                        <image-cropper
                            #cropper
                            [imageBase64]="myImage"
                            [maintainAspectRatio]="true"
                            [aspectRatio]="1/1"
                            format="png"
                            [autoCrop]="false"
                            (imageCropped)="imageCropped($event)"
                            (loadImageFailed)="loadImageFailed()"
                        ></image-cropper>
                        <ion-button
                            expand="full"
                            class="my-4"
                            (click)="finishCrop()"
                        >
                            Selesai
                        </ion-button>
                    </div>

                </div>

            </ion-content>
        </ng-template>
    </ion-modal>
    <ion-action-sheet
        [isOpen]="itemAction"
        header="Opsi"
        [buttons]="itemsOptions"
        (didDismiss)="actionSheetsDidDismiss($event)"
    ></ion-action-sheet>
    <ion-action-sheet
        [isOpen]="sourcePicker"
        header="Sumber Gamber"
        [buttons]="imageSource"
        (didDismiss)="imageSourceDidDismiss($event)"
    ></ion-action-sheet>
    <ion-toast
        [isOpen]="toast.isOpen"
        message="{{toast.message}}"
        [duration]="3000"
        (didDismiss)="setOpen(false)"
    ></ion-toast>
</ion-content>
