<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="route != '/register' && route != '/login'">
      <ion-content >
        <ion-list id="inbox-list">
          <ion-list-header class="capitalize">{{busines_name}}</ion-list-header>
          <ion-note >{{busines_email}}</ion-note>

          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          <ion-menu-toggle auto-hide="false" *ngFor="let item of pages" >
            <ion-item routerDirection="root" [routerLink]="[item.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [name]="[item.icon] + '-outline'" ></ion-icon>
              <ion-label>{{item.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-menu-toggle auto-hide="false" class="bottom-0" (click)="signOut()" >
          <ion-item lines="none" detail="false">
            <ion-icon aria-hidden="true" slot="end" name="log-out-outline" color="danger"></ion-icon>
            <ion-label color="danger">keluar</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
